[DATA]
DataAplication = ~/MigraineBA/DataApplication
DataCreation = ~/MigraineBA/DataCreation
FeaturesSelectedMorphological = ~/DataCreation/FeaturesSelected/FeaturesSelectedMorphological.csv
FeaturesSelectedCombined = ~/DataCreation/FeaturesSelected/FeaturesSelectedCombined.csv
FeaturesSelectedIntensity = ~/DataCreation/FeaturesSelected/FeaturesSelectedIntensity.csv

[SHAP]
shap_values_folder = ~/MigraineBA/SHAP_values

[MODELS]
modelsFolder = ~/MigraineBA/Models

[RESULTS]
Results = /where/you/consider

