[DATA]
DataAplication = ~/DataApplication
DataCreation = ~/DataCreation
FeaturesSelectedMorphological = ~/DataCreation/FeaturesSelected/FeaturesSelectedMorphological.csv
FeaturesSelectedCombined = ~/DataCreation/FeaturesSelected/FeaturesSelectedCombined.csv
FeaturesSelectedIntensity = ~/DataCreation/FeaturesSelected/FeaturesSelectedIntensity.csv

[SHAP]
shap_values_folder = ~/SHAP_values

[MODELS]
modelsFolder = ~/Models

[RESULTS]
Results = /where/you/consider
